<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
    
    <key>CFBundleURLTypes</key>
       <array>
           <dict>
               <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <!-- Google reversed client ID -->
                    <string>com.googleusercontent.apps.159796462125-9euqboejrjqj61fq978ce7hhmj7to265</string>
                    <!-- Facebook callback -->
                    <string>fb677798641831788</string>
                </array>
           </dict>
       </array>
       
       <key>FacebookAppID</key>
       <string>677798641831788</string>
       <key>FacebookDisplayName</key>
       <string>TuinMeister</string>
       <key>FacebookClientToken</key>
       <string>e0e700ab0ee28c35e845df99c0f631c6</string>
       
       <key>LSApplicationQueriesSchemes</key>
       <array>
           <string>fbapi</string>
           <string>fbapi20130214</string>
           <string>fbapi20130410</string>
           <string>fbapi20130702</string>
           <string>fbapi20131010</string>
           <string>fbapi20131219</string>
           <string>fbapi20230214</string>
           <string>fbapi20230410</string>
           <string>fbapi20230702</string>
           <string>fb-messenger-share-api</string>
           <string>fbauth2</string>
           <string>fb-share-extension</string>
       </array>
</dict>
</plist>
